#form
  .form-group
    %label{:for => "exampleInputEmail1"} Email address
    %input#exampleInputEmail1.form-control{:type => "email", :value=>email_text}
  .form-group
    %label{:for => "exampleInputPassword1"} Password
    %input#exampleInputPassword1.form-control{:placeholder => "Password", :type => "password"}
  %button.btn.btn-default Submit